{% extends "layout.html" %}

{% block content %}

    <div class="section light">
        <main>
            <h1>Contact Us</h1>

            <div class="officers cards double">

                <div class="card president">
                    <div class="name">Chad Skeeters</div>
                    <div class="position">Presidnet / Treasurer / Webmaster</div>
                    <a class="email" href="mailto:'Chad Skeeters' <chad.skeeters@gmail.com>?subject=Walden Point">chad.skeeters@gmail.com</a>
                    <a class="tel" href="tel:210-387-0463">210-387-0463</a>
                </div>

                <div class="card secretary">
                    <div class="name">James Syler</div>
                    <div class="position">Secretary</div>
                    <a class="email" href="mailto:'James Syler' <jsyler61@gmail.com>?subject=Walden Point">jsyler61@gmail.com</a>
                </div>
                <div class="card">
                    <div class="name">John Schrock</div>
                    <div class="position">Board Member / City Relations</div>
                    <a class="email" href="mailto:'John Schrock' <johnfschrock@gmail.com>?subject=Walden Point">johnfschrock@gmail.com</a>
                </div>
                <div class="card">
                    <h3>All Board Members</h3>
                    <div class="buttons">
                        <a class="button" href="mailto:'Chad Skeeters' <chad.skeeters@gmail.com>, 'James Syler' <jsyler61@gmail.com>, 'John Schrock' <johnfschrock@gmail.com>?subject=Walden Point">Email All</a>
                    </div>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
