{% extends "layout.html" %}

{% block content %}
    <h1>Walden Point HOA</h1>

    <h2>Documents</h2>

    The following documents have been converted to HTML for reference.  These documents may contain typos and are not binding.

    <ul>
        <li>
            <a href="doc/dccr">Declaration of covenants, conditions and restrictions (DCCR)</a>
            <ul>
                <li><a href="doc/dccr-a1">Amendment #1</a> (Optional membership in Sierra Heights HOA)</li>
            </ul>
        </li>
        <li>
            <a href="doc/by-laws">By-Laws</a>
        </li>
        <li>
            <a href="doc/aoi">Articles of Incorporation</a>
            <ul>
                <li>
                    <a href="doc/aoc">Articles of Correction</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
